# Binaries
bin/
bin-int/
dependencies/slang
*.spv
install/

# Log folders
logs/

# Build Tool Files
.vs/
.vscode/
Makefile
*.make
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.ninja
*.ninja_log
*.ninja_deps
*compile_commands.json
*.clangd

# Caches
TempestCache/

# Generated NVidia Files
*.nvdbg
*.nv-gpudmp
*.nv-gpudmp.json

# UI configuration files
*.ini
