# Binaries
bin/
bin-int/
dependencies/slang
*.spv

# Log folders
logs/

# Build Tool Files
.vs/
.vscode/
Makefile
*.make
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.ninja
*.ninja_log
*.ninja_deps

# Caches
TempestCache/